<form action="{{ url('admin_gest_technician_val', {id: technician.id}) }}" method="post" data-confirmation="true" id="delete-form-{{ technician.id }}">
	<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
	<button type="submit" class="btn btn-success">
		{{ 'Valider la création' | trans }}
	</button>
</form>
