<form action="{{ url('admin_gest_tenant_val', {id: tenant.id}) }}" method="post" data-confirmation="true" id="delete-form-{{ tenant.id }}">
	<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
	<button type="submit" class="btn btn-success">
		{{ 'Valider la création' | trans }}
	</button>
</form>
