{% extends "structure/bars.html.twig" %}


{% block title %}
	{{ 'Locataires'|trans }}
{% endblock %}


{% block contenpage %}
	<style>
		.col-6 {
			-webkit-flex: 0 0 50%;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}

		.col,
		.col-1,
		.col-10,
		.col-11,
		.col-12,
		.col-2,
		.col-3,
		.col-4,
		.col-5,
		.col-6,
		.col-7,
		.col-8,
		.col-9,
		.col-auto,
		.col-lg,
		.col-lg-1,
		.col-lg-10,
		.col-lg-11,
		.col-lg-12,
		.col-lg-2,
		.col-lg-3,
		.col-lg-4,
		.col-lg-5,
		.col-lg-6,
		.col-lg-7,
		.col-lg-8,
		.col-lg-9,
		.col-lg-auto,
		.col-md,
		.col-md-1,
		.col-md-10,
		.col-md-11,
		.col-md-12,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-auto,
		.col-sm,
		.col-sm-1,
		.col-sm-10,
		.col-sm-11,
		.col-sm-12,
		.col-sm-2,
		.col-sm-3,
		.col-sm-4,
		.col-sm-5,
		.col-sm-6,
		.col-sm-7,
		.col-sm-8,
		.col-sm-9,
		.col-sm-auto,
		.col-xl,
		.col-xl-1,
		.col-xl-10,
		.col-xl-11,
		.col-xl-12,
		.col-xl-2,
		.col-xl-3,
		.col-xl-4,
		.col-xl-5,
		.col-xl-6,
		.col-xl-7,
		.col-xl-8,
		.col-xl-9,
		.col-xl-auto {
			position: relative;
			width: 100%;
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		.bg-info {
			background-color: #17a2b8 !important;
		}

		.small-box {
			border-radius: 0.25rem;
			box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
			display: block;
			margin-bottom: 20px;
			position: relative;
		}

		.small-box {
			text-align: center;
		}

		.bg-info,
		.bg-info > a {
			color: #fff !important;
		}

		.bg-info {
			background-color: #17a2b8 !important;
		}

		.small-box > .inner {
			padding: 10px;
		}

		*,
		::after,
		::before {
			box-sizing: border-box;
		}

		user agent stylesheet div {
			display: block;
		}

		.bg-info,
		.bg-info > a {
			color: #fff !important;
		}

		.small-box {
			text-align: center;
		}

		.small-box .icon {
			display: none;
		}

		.small-box .icon {
			color: rgba(0, 0, 0, 0.15);
			z-index: 0;
		}

		.small-box {
			text-align: center;
		}

		.small-box .icon > i.fa,
		.small-box .icon>i.fab,
		.small-box .icon>i.fad,
		.small-box .icon>i.fal,
		.small-box .icon>i.far,
		.small-box .icon>i.fas,
		.small-box .icon > i.ion {
			font-size: 70px;
			top: 20px;
		}

		.small-box .icon > i {
			font-size: 90px;
			position: absolute;
			right: 15px;
			top: 15px;
			transition: -webkit-transform 0.3s linear;
			transition: transform 0.3s linear;
			transition: transform 0.3s linear, -webkit-transform 0.3s linear;
		}

		.small-box > .small-box-footer {
			background-color: rgba(0, 0, 0, 0.1);
			color: rgba(255, 255, 255, 0.8);
			display: block;
			padding: 3px 0;
			position: relative;
			text-align: center;
			text-decoration: none;
			z-index: 10;
		}

		.bg-info,
		.bg-info > a {
			color: #fff !important;
		}

		.fa,
		.fas {
			font-weight: 900;
		}

		.fa,
		.far,
		.fas {
			font-family: "Font Awesome 5 Free";
		}
		.fa,
		.fab,
		.fad,
		.fal,
		.far,
		.fas {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
		}
		.small-box {
			border-radius: 0.25rem;
			box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
			display: block;
			margin-bottom: 20px;
			position: relative;
		}
		.bg-success {
			background-color: #28a745 !important;
		}

		sup {
			top: -0.5em;
		}

		sub,
		sup {
			position: relative;
			font-size: 75%;
			line-height: 0;
			vertical-align: baseline;
		}
		*,
		::after,
		::before {
			box-sizing: border-box;
		}
		user agent stylesheet sup {
			vertical-align: super;
			font-size: smaller;
		}
		.small-box h3 {
			font-size: 2.2rem;
			font-weight: 700;
			margin: 0 0 10px;
			padding: 0;
			white-space: nowrap;
		}
		p {
			z-index: 5;
		}
		.small-box > .small-box-footer {
			background-color: rgba(0, 0, 0, 0.1);
			color: rgba(255, 255, 255, 0.8);
			display: block;
			padding: 3px 0;
			position: relative;
			text-align: center;
			text-decoration: none;
			z-index: 10;
		}

		.bg-success,
		.bg-success > a {
			color: #fff !important;
		}
		a {
			color: #007bff;
			text-decoration: none;
			background-color: transparent;
		}
		.bg-warning,
		.bg-warning > a {
			color: #1f2d3d !important;
		}
		.bg-warning {
			background-color: #ffc107 !important;
		}
		.bg-danger,
		.bg-danger > a {
			color: #fff !important;
		}

		.bg-danger {
			background-color: #dc3545 !important;
		}
	</style>

	<div class="card mb-3">

		<div class="row">
			<div
				class="col-lg-3 col-3">
				<!-- small box -->
				<div class="small-box bg-info">
					<div class="inner">
						<h3>150</h3>

						<p>New Orders</p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
					<a href="#" class="small-box-footer">More info
						<i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div
				class="col-lg-3 col-3">
				<!-- small box -->
				<div class="small-box bg-success">
					<div class="inner">
						<h3>53<sup style="font-size: 20px">%</sup>
						</h3>

						<p>Bounce Rate</p>
					</div>
					<div class="icon">
						<i class="ion ion-stats-bars"></i>
					</div>
					<a href="#" class="small-box-footer">More info
						<i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div
				class="col-lg-3 col-3">
				<!-- small box -->
				<div class="small-box bg-warning">
					<div class="inner">
						<h3>44</h3>

						<p>User Registrations</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					<a href="#" class="small-box-footer">More info
						<i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div
				class="col-lg-3 col-3">
				<!-- small box -->
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>65</h3>

						<p>Unique Visitors</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>
					<a href="#" class="small-box-footer">More info
						<i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
		</div>


	</div>
</div>{% endblock %}
